<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available slots</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<h1>Available slots</h1>
<div class="container">

    <table class="table table-striped table-bordered">
        <tr>
            <td>Slot ID</td>
            <td>Description</td>
            <td>Status</td>
        </tr>
        <tr th:each="slotReservation: ${availableSlots}">
            <td th:text="${slotReservation.id}">Slot ID</td>
            <td th:text="${slotReservation.description}">Description</td>
            <td th:text="${slotReservation.status}">Status</td>
        </tr>
    </table>
</div>
</body>
</html>